body {
  font-family: hero-new, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  height: 100vh;
}

#lyrics {
  overflow: auto;
  height: 300px;
  display: none;
  text-align: left;
}

main {
  padding-top: 40px;
}

#top-logo {
  width: 80px;
  padding-top: 25px;
}

.main-search-background {
  background: url("./images/landing-image.svg") no-repeat;
  background-size: 125%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.white {
  background-color: #fff !important;
}
